<nav class="bg-black flex items-center justify-between md:p-[25px_119px_25px_119px] p-[16px] gap-[96px] mx-auto">
  <a href="<%= root_path %>">
    <%= image_tag("bm-logo.svg") %>
  </a>

  <a href="<%= cart_path %>" class="border border-white rounded-[8px] text-white flex items-center px-[9px] py-[9px] gap-[16px]">
    <span class="text-[14px] hidden md:inline">Shopping Cart</span>
    <%= image_tag("cart-icon.svg") %>
  </a>
</nav>
